*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Security-related ignores
config/master.key

# Bundler config
/.bundle

# Environment files (except templates)
/.env*
!/.env*.erb

# Log and temporary files (excluding keep files)
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep

# Project-specific ignores (optional)
/node_modules  # If using Node.js
/public/packs  # If using Webpack or Sprockets for assets
/public/packs-test
/public/assets  # If not using Webpack or Sprockets
/app/assets/builds/*  # Potential project-specific asset directory (optional)
/app/assets/builds/*
!/app/assets/builds/.keep

/node_modules
